body{
	margin: 0;
	padding: 0;
	background-color: #0e0e0e;
}

.base-input,
.base-button{
	outline: none;
	border: none;
	font-family: arial;
}

#box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 250px;
	min-height: 200px;
	background-color: rgba(60,60,60,.8);
	box-sizing: border-box;
	padding: 12px;
}

#box .search-box{
	position: relative;
	top: 12px;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 36px;
	display: flex;
	flex-direction: row;
}

#box .search-box input{
	background-color: rgba(212,212,212,.4);
	color: white;
	padding: 6px;
	font-size: 18px;
	width: 65%;
}

#box .search-box button{
	background-color: rgba(20,120,180,1);
	color: white;
	padding: 6px;
	font-size: 16px;
	cursor: pointer;
	width: 35%;
}

#box #response-box{
	position: relative;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	min-height: 100px; 
	background-color: rgba(80,80,80,.8);
	box-sizing: border-box;
	padding: 12px;
	color: white;
	font-size: 16px;
	font-family: arial;
}